#slide-0 {
  position: relative;
  background-color: black;
}

#dtag {
  padding-left: 20px;
  color: whitesmoke;
}

#ctag {
  padding-left: 40px;
  color: whitesmoke;
}

#itag {
  padding-left: 60px;
  color: whitesmoke;
}

#s-0-h {
  position: fixed;
  top: 50%;
  left: 5%;
  margin-bottom: 0;
  background-color: black;
}


#s-0-vert-text {
  position: relative;
  margin-left: 40vw;
  top: 99vh;
  width: 40vw;
  height: 250vw;
  font-size: 3.5rem;
  transform-origin: 0 0;
  transform: rotate(-90deg);
  white-space: nowrap;
  background-color: none;
  opacity: 0.75;
  filter: blur(5px);
  color: whitesmoke;

}
#s-1-vert-text {
  position: relative;
  margin-left: 70vw;
  top: 99vh;
  width: 40vw;
  height: 250vw;
  font-size: 3rem;
  transform-origin: 0 0;
  transform: rotate(-90deg);
  white-space: nowrap;
}

.hcard {
  width: 100vw;
  min-width: 400px;
  height: 100vw;
  min-height: 400px;
  /*background-color: #dedede;*/
}

#splash_vid_0{
  position: absolute;
  width: 45vw;
  height: 100vh;
  left:  40%;
}