#slide-1 {
  background-color: whitesmoke;
}

.pro-holder {
  display: flex;
  position: absolute;
  margin-top: auto;
  margin-bottom: auto;
  align-items: center;
  width: 80vw;
  height: 40vh;
  left: 0%;
  z-index: 5;
}

#s1_bg_img {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 8;
}