#dtag{
  padding-left: 20px;
}

#ctag {
  padding-left: 40px;
}

#itag {
  padding-left: 60px;
}

#s-0-h {
  margin-bottom: 0;
}

#s-0-vert-text {
  position: relative;
  margin-left: 40vw;
  top: 99vh;
  width: 40vw;
  height: 250vw;
  font-size: 3.5rem;
  transform-origin: 0 0;
  transform: rotate(-90deg);
  white-space: nowrap;
  background-color: none;
  opacity: 0.75;
  filter: blur(5px);

}
#s-1-vert-text {
  position: relative;
  margin-left: 70vw;
  top: 99vh;
  width: 40vw;
  height: 250vw;
  font-size: 3rem;
  transform-origin: 0 0;
  transform: rotate(-90deg);
  white-space: nowrap;
}

.hcard {
  width: 100vw;
  min-width: 400px;
  height: 100vw;
  min-height: 400px;
  /*background-color: #dedede;*/
}


html,
body {
  margin: 0;
  font-family: sans-serif;
}

.scrolling-wrapper {
  overflow-x: none;
  display: flex;
}

h1 {
  margin: 0;
  padding: 0;
}

section {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4ch;
  border-radius: 35px;
}
p{
  text-align: justify;
}
section:nth-child(even) {
  background-color: #123238;
  color: white;
}
.text-zone {
  position: relative;
  display: inline-block;
  left: 0;
  width: 40%;
  top: 0;
  margin-top: -5%;
  margin-left: -5%;
  height: 90%;
  max-height: 600px;
  font-size: 0.75em;
  padding-left: 1%;
  padding-top: 1%;
  padding-bottom: 5%;
  background-color: #eceefd;
  border-radius: 15px;
}
.skills-details {
  position: relative;
  display: inline-block;
  width: 35%;
  height: 90%;
  max-height: 600px;
  padding-left: 1%;
  padding-top: 1%;
  padding-bottom: 5%;
  background-color: #eceefd;
  border-radius: 15px;
}

.skills-text {
  padding: 0;
  margin-top: 0;
  font-size: 15px;
  color: #123238;
  text-align: justify;
}
.sk-card {
  height: 60px;
  width: 98%;
  border-radius: 0;
  background-color: inherit;
}
.sk-body {
  height: 30px;
  font-size: 10px;
}
.sk-chart-bg{
    width:100%;
    height:3px;
    background-color:lightslategray;
    float:left;
}
.sk-chart{
    height:3px;
    
    float:left;
}
#sk-ln-1 {
  width: 85%;
  background-color:#08fdd8;
}
#sk-ln-2 {
  width: 75%;
  background-color:#d26cd5;
}
#sk-ln-3 {
  width: 95%;
  background-color: #30ff22;
}
#sk-ln-4 {
  width: 75%;
  background-color:#08fdd8;
}
#sk-ln-5 {
  width: 85%;
  background-color:#d26cd5;
}
#sk-ln-6 {
  width: 60%;
  background-color: #30ff22;
}
#sk-ln-7 {
  width: 60%;
  background-color:#08fdd8;
}
#sk-ln-8 {
  width: 80%;
  background-color:#d26cd5;
}
#sk-ln-9 {
  width: 85%;
  background-color: #30ff22;
}
